/.cursor

# Dependencies
node_modules/

# claude
.claude
.claude/
.claude/cache/
.claude/history/
.claude/logs/
.claude/sessions/
.claude/state.db
.claude/sessions/

# Environment variables
.env
*.env

# Local configuration
config.yaml
examples/config/config.yaml
examples/config/.env

# Data and logs
data/
logs/
*.log

# OS files
.DS_Store
Thumbs.db
/app/dist
*.txt

# scripts
install_gemini.sh